h1 {
  color: $color-secondary;
}
.box {
  display: inline-block;
  color: $color-white;
  text-align: center;
  font-family: $font-base-bold;
}

.box-primary {
  background-color: $color-primary;
}

.box-secondary {
  background-color: $color-secondary;
}

.box-big {
  padding: 0.5rem 2rem;
  font-size: map-get($font-size-heading, 'h1');
}

.reseaux {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.linkedin {
  margin-right: 1rem;
  span {
    font-size: 0;
  }
  &:before {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background: url(../images/linkedin_icon.svg);
    background-repeat: no-repeat;
    background-size: contain;

  }
}
