@font-face {
  font-family: 'League Spartan';
  src: url('../fonts/leaguespartan-bold-webfont.woff') format('woff');
  font-stretch : normal;
  font-weight : bold;
  font-style : normal;
}

@font-face {
  font-family: 'Open Sans XB';
  src: url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff');
  font-stretch : normal;
  font-weight : bold;
  font-style : normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-stretch : normal;
  font-weight : normal;
  font-style : normal;
}

body {
  font-family: $font-base;
  font-weight: normal;
  font-size: $font-size-base;
  color: $color-black;
  background-color: $bg-color-base;
}

@each $level, $size in $font-size-heading {
  #{$level} {
    font-family: $font-heading;
    font-size: $size;
    font-weight: bold;
    color: $color-black;
  }
}

strong {
  font-family: $font-base-bold;
}

.line-break {
  @media screen and (min-width: 1024px){
    display: block;
  }
}
