$font-heading: 'League Spartan', 'Helvetica', sans-serif;
$font-base-bold: 'Open Sans XB', 'Arial', sans-serif;
$font-base: 'Open Sans', 'Arial', sans-serif;

$font-size-base: 1rem;

$font-size-heading: (
  'h1': $font-size-base * 2.2,
  'h2': $font-size-base * 1.8,
  'h3': $font-size-base * 1.4,
  'h4': $font-size-base * 1
);


$color-primary: #0030FF;
$color-secondary: #FF206E;
$color-white: #FEFEFE;
$color-black: #0E0E0E;

$bg-color-base: $color-white;
