@charset "UTF-8";
/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

@font-face {
  font-family: "League Spartan";
  src: url("../fonts/leaguespartan-bold-webfont.woff") format("woff");
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans XB";
  src: url("../fonts/OpenSans-ExtraBold-webfont.woff") format("woff");
  font-stretch: normal;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular-webfont.woff") format("woff");
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: #0E0E0E;
  background-color: #FEFEFE;
}

h1 {
  font-family: "League Spartan", "Helvetica", sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  color: #0E0E0E;
}

h2 {
  font-family: "League Spartan", "Helvetica", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #0E0E0E;
}

h3 {
  font-family: "League Spartan", "Helvetica", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #0E0E0E;
}

h4 {
  font-family: "League Spartan", "Helvetica", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #0E0E0E;
}

strong {
  font-family: "Open Sans XB", "Arial", sans-serif;
}

@media screen and (min-width: 1024px) {
  .line-break {
    display: block;
  }
}

h1 {
  color: #FF206E;
}

.box {
  display: inline-block;
  color: #FEFEFE;
  text-align: center;
  font-family: "Open Sans XB", "Arial", sans-serif;
}

.box-primary {
  background-color: #0030FF;
}

.box-secondary {
  background-color: #FF206E;
}

.box-big {
  padding: 0.5rem 2rem;
  font-size: 2.2rem;
}

.reseaux {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.linkedin {
  margin-right: 1rem;
}
.linkedin span {
  font-size: 0;
}
.linkedin:before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../images/linkedin_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
    margin: auto;
  }
}

.accroche {
  font-family: "League Spartan", "Helvetica", sans-serif;
  font-size: 1.8rem;
  line-height: 1;
}
@media screen and (min-width: 1024px) {
  .accroche {
    font-size: 2.86rem;
    margin: 2rem 1rem 2rem 2rem;
  }
}

.portrait {
  width: 80%;
  margin: auto;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .portrait {
    width: 40%;
  }
}
.portrait img {
  display: inline-block;
  width: 85%;
  position: relative;
  z-index: 1;
}
.portrait:after {
  content: "";
  display: block;
  background-color: #0030FF;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  .portrait:after {
    top: 55%;
  }
}

.fleche {
  order: -1;
  position: relative;
  z-index: 1;
  width: 70px;
  margin-right: 3rem;
  transform-origin: top;
  animation-name: anim_fleche_mobile;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@media screen and (min-width: 1024px) {
  .fleche {
    order: initial;
    width: 100px;
    animation-name: anim_fleche;
    position: static;
    margin-right: auto;
  }
}

.who-is {
  display: none;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .who-is {
    display: block;
    transform: translateY(-2rem) rotate(-10deg);
  }
}

.identite {
  display: inline-block;
  position: relative;
  right: 0;
  padding: 3rem 0;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.8rem;
  max-width: 250px;
  justify-self: center;
}
@media screen and (min-width: 1024px) {
  .identite {
    position: absolute;
    text-align: left;
    margin: 0;
    right: 3rem;
  }
}
.identite .prenom {
  transform-origin: bottom right;
  transform: rotate(10deg);
}
.identite .nom {
  transform-origin: top right;
  transform: rotate(-12deg);
}
.identite .age {
  position: absolute;
  right: -4rem;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%) rotate(90deg);
}
@media screen and (min-width: 1024px) {
  .identite .age {
    right: -4rem;
  }
}

#main {
  display: grid;
  grid-template-areas: "top" "main" "bottom";
  position: relative;
}
@media screen and (min-width: 1024px) {
  #main {
    display: flex;
    justify-content: space-around;
  }
}

#panneau {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  #panneau {
    display: block;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes portrait_background {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes portrait_foreground {
  from {
    opacity: 0;
    transform: perspective(50rem) translateZ(50rem);
  }
  to {
    opacity: 1;
    transform: perspective(50rem) translateZ(0);
  }
}
@keyframes anim_fleche_mobile {
  from {
    transform: translateX(4rem) rotate(90deg);
  }
  to {
    transform: translateX(4rem) rotate(75deg);
  }
}
@keyframes anim_fleche {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(4deg);
  }
}