.accroche {
  font-family: $font-heading;
  font-size: map-get($font-size-heading, 'h2');
  line-height: 1;
  @media screen and (min-width: 1024px){
    font-size: map-get($font-size-heading, 'h1') * 1.3;
    margin: 2rem 1rem 2rem 2rem;
  }

}
.portrait {
  width: 80%;
  margin: auto;
  position: relative;
  text-align: center;
  @media screen and (min-width: 1024px){
    width: 40%;
  }
  img {
    display: inline-block;
    width: 85%;
    position: relative;
    z-index: 1;
  }
  &:after {
    content:"";
    display: block;
    background-color: $color-primary;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (min-width: 1024px){
      top: 55%;

    }
  }
}
.fleche {
  order: -1;
  position: relative;
  z-index: 1;
  width: 70px;
  margin-right: 3rem;
  transform-origin: top;
  animation-name: anim_fleche_mobile;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  @media screen and (min-width: 1024px){
    order: initial;
    width: 100px;
    animation-name: anim_fleche;
    position: static;
    margin-right: auto;
  }
}
.who-is {
  display: none;
  text-transform: uppercase;
  @media screen and (min-width: 1024px){
    display: block;
    transform: translateY(-2rem) rotate(-10deg);
  }
}
.identite {
  display: inline-block;
  position: relative;
  right: 0;
  padding: 3rem 0;
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  font-size: map-get($font-size-heading, "h2");
  max-width: 250px;
  justify-self: center;
  @media screen and (min-width: 1024px) {
    position: absolute;
    text-align: left;
    margin: 0;
    right: 3rem;
  }
  .prenom {
    transform-origin: bottom right;
    transform: rotate(10deg);
  }
  .nom {
    transform-origin: top right;
    transform: rotate(-12deg);
  }
  .age {
    position: absolute;
    right: -4rem;
    top:50%;
    font-size: $font-size-base * 1.3;
    transform: translateY(-50%) rotate(90deg);
    @media screen and (min-width: 1024px){
      right: -4rem;
    }
  }
}
#main {
  display: grid;
  grid-template-areas:
    "top"
    "main"
    "bottom";
  position: relative;
  @media screen and (min-width: 1024px){
    display: flex;
    justify-content: space-around;
  }
}

#panneau {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (min-width: 1024px) {
    display: block;
  }

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes portrait_background {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes portrait_foreground {
  from {
    opacity: 0;
    transform: perspective(50rem) translateZ(50rem);
  }
  to {
    opacity: 1;
    transform: perspective(50rem) translateZ(0);
  }
}

@keyframes anim_fleche_mobile {
  from {
    transform: translateX(4rem) rotate(90deg);
  }
  to {
    transform: translateX(4rem) rotate(75deg);
  }
}
@keyframes anim_fleche {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(4deg);
  }
}
